* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.app {
  display: flex;
  flex-direction: row;
}

.app .input-container,
.textarea {
  width: 99%;
}

.textarea {
  max-height: 100% !important;
  height: 99%;
  min-height: 20px;
    resize: none;
}
